.doc {
    max-width: none;
}

.navbar-item.title {
    color: white;
}

.navbar-item.logo img {
    height: 3.5rem;
}

@media screen and (min-width: 1024px) {
    .doc {
        max-width: none;
    }
}
