<footer class="footer">
  <p>Tato dokumentace je generována pomocí nástroje <a href="https://antora.org/">Antora</a>.</p>
  <p>V případě problému s dokumentací, rozporu/neúplnosti obsahu kontaktujte: Michal Bartosz [<a href="mailto:michal.bartosz@cetin.cz?subject=NIP dokumentace">michal.bartosz@cetin.cz</a>]</p>
</footer>
