<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">

        <a class="navbar-item logo" title="MSB documentation" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
            <img src="{{{uiRootPath}}}/img/cetin-ppf-logo-negative.png" alt="MSB documentation">
        </a>
        <a class="navbar-item title" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Odkazy</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://log.cetin/" target="_blank">LOG server - Produkce</a>
	    <a class="navbar-item" href="https://log.cetin/" target="_blank">LOG server - Ref/Test/Partner</a>
	    <hr class="navbar-divider">
            <a class="navbar-item" href="https://intranet.cetin/pages/viewpage.action?pageId=58675635" target="_blank">Mapování portů endpointů</a>
	    <hr class="navbar-divider">
            <a class="navbar-item" href="http://celnipp408.server.cetin/svn/nip/Services/" target="_blank">NIP SVN (old repository)</a>
	    <hr class="navbar-divider">
	    <a class="navbar-item" href="https://celnipd401.server.cetin:10944/devportal/apis" target="_blank">NIP-APIM DevPortal (Dev)</a>
	    <a class="navbar-item" href="https://celnipt401.server.cetin:10944/devportal/apis" target="_blank">NIP-APIM DevPortal (Test)</a>
	    <a class="navbar-item" href="https://nip-apim-ref.cetin/devportal" target="_blank">NIP-APIM DevPortal (Reference)</a>
            <a class="navbar-item" href="https://nip-apim.cetin/devportal" target="_blank">NIP-APIM DevPortal (Produkce)</a>
            <a class="navbar-item" href="https://nip-apim-part.cetin/devportal" target="_blank">NIP-APIM DevPortal (Partner)</a>
	    <hr class="navbar-divider">
	    <a class="navbar-item" href="https://celnipd401.server.cetin:20944/devportal/apis" target="_blank">NIP-APIM-External DevPortal (Dev)</a>
	    <a class="navbar-item" href="https://celnipt401.server.cetin:20944/devportal/apis" target="_blank">NIP-APIM-External DevPortal (Test)</a>
	    <a class="navbar-item" href="https://nip-apim-ref.cetin:447/devportal" target="_blank">NIP-APIM-External DevPortal (Reference)</a>
            <a class="navbar-item" href="https://nip-apim.cetin:447/devportal" target="_blank">NIP-APIM-External DevPortal (Produkce)</a>
            <a class="navbar-item" href="https://nip-apim-part.cetin:447/devportal" target="_blank">NIP-APIM-External DevPortal (Partner)</a>
          </div>
        </div>
      <!--  <a class="navbar-item" href="https://msbt.cetin/swagger-ui/index.html" target="_blank">Swagger UI</a>-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">NIP Patterns</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://localhost/kafka" target="_blank">NIP-KAFKA</a>
            <a class="navbar-item" href="http://localhost/etl" target="_blank">NIP-ETL</a>
          </div>
        </div>
<!--
        <a class="navbar-item" href="https://devops.cetin/it/msb_group/msb-knowledge-base/-/pipelines" target="_blank">Build jobs</a>
-->
      </div>
    </div>
  </nav>
</header>
